.bdr-bottom {
    border-bottom: 3px solid #33b5e5!important;
}

.bdr-top {
    border-top: 3px solid #33b5e5!important;
}

.bdr {
    border: 3px solid #263238!important; 
}

.vertical-center {
    min-height: calc(100% - 140px);  /* Fallback for browsers do NOT support vh unit */
    min-height: calc(100vh - 140px); /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

body {
    padding: 70px 0;
}